<div class="app-content">
  <div class="setp0" [hidden]="isBeginning">
    <h1>Declare a nest</h1>
    <p>This page will allow you to complete a declaration. The first step is not mandatory, however, to verify your statements,
      it is recommended to provide a photo and the position of the nest or asian hornets. When you import an image, it will
      be analyzed. if you get this icon:
      <mat-icon class="mat-green">check</mat-icon> It's good ! your picture is a asian hornets. otherwise you will have this icon:
      <mat-icon class="mat-red">clear</mat-icon> . Underneath you will have additional information about your image. in step 2, some fields are required
      to ask for information if necessary. (we will not use your email to spam ads, rest assured).
    </p>
    <p [hidden]="isConnected">If you have an account, log in. The benefit of having an account is to see every published statement. Understand, you
      can also delete your account at any time.</p>
    <p>as soon as you are ready, click on the button <strong [hidden]="!isConnected">start</strong> <strong [hidden]="isConnected">Continue without account</strong>. Thank you !</p>

    <button mat-button routerLink="/signin" [hidden]="isConnected">Sign in</button>
    <button mat-button [hidden]="isConnected" (click)="step1()">Continue without account</button>
    <button mat-button [hidden]="!isConnected" (click)="step1()">Start</button>
  </div>

  <div [hidden]="isStart">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
      <mat-vertical-stepper formArrayName="formArray" [linear]="true">
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
          <ng-template matStepLabel>Informations on the nest</ng-template>
          <h2>Pictures from the nest</h2>
          <app-google-vision (fileChange)="handleFileSelected($event)"></app-google-vision>
          <h2>Localisation</h2>
          <app-google-map (placeLocation)="handleLocation($event)"></app-google-map>
          <h3>Or</h3>
          <button mat-raised-button type="button" (click)="enableLocation()">Set location</button>
          <mat-input-container [hidden]="isEnableLocation">
            <input matInput placeholder="Latitude" formControlName="latitude" required>
          </mat-input-container>
          <mat-input-container [hidden]="isEnableLocation">
            <input matInput placeholder="Longitude" formControlName="longitude" required>
          </mat-input-container>
          <div>
            <button type="button" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
          <ng-template matStepLabel>Fill out your coordinates</ng-template>

          <mat-input-container>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error>This field is required</mat-error>
          </mat-input-container>

          <mat-input-container>
            <input matInput placeholder="Email address" formControlName="email" required>
            <mat-error>The input is invalid</mat-error>
          </mat-input-container>

          <mat-input-container class="example-full-width">
            <span matPrefix>+33 &nbsp;</span>
            <input matInput placeholder="Telephone" pattern="[0-9]*" formControlName="phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error>The phone number is invalid</mat-error>
          </mat-input-container>

          <mat-input-container>
            <input matInput placeholder="comment" formControlName="comment">
          </mat-input-container>
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" mat-button matStepperNext [disabled]="formGroup.pristine">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done. If you want to change your answers, click on return or click send to finalize your return. Thanking
            you.
          </p>
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button mat-raised-button>Send</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
    </form>

  </div>
</div>
<app-footer></app-footer>