<form (ngSubmit)='submit(formData.value)' #formData='ngForm'>
  <div class="form-container">

    <mat-form-field>
      <input matInput placeholder="Email" name="email" [ngModel]="email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" name="password" [ngModel]="password" [type]="hide ? 'password' : 'text'"
        required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </div>
  <button mat-raised-button type='submit'>Sign in</button>
</form>

<button mat-raised-button (click)='createAccount()'>Sign up</button>
