<mat-toolbar color='primary'>
  <a class="mat-button" routerLink="/">Angular Bee</a>
  <a class="mat-button" routerLink="/declaration" [hidden]="!isConnected"> Declaration</a>
  <a class="mat-button" routerLink="/history" [hidden]="!isConnected"> History</a>
  <a class="mat-button" routerLink="/nest" [hidden]="!isConnected"> Nest</a>
  <div class="flex-spacer"></div>
  <a class="mat-button" routerLink="/signin" [hidden]="isConnected"> Sign in</a>
  <button mat-button [matMenuTriggerFor]="menu" [ngStyle]="{display : !isConnected ? 'none' : ''}">Profile</button>
  <mat-menu #menu="matMenu">
    <a class="mat-menu-item" routerLink="/profile">
      <mat-icon>settings</mat-icon>Parameter</a>
    <a class="mat-menu-item" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>Log out</a>
  </mat-menu>
</mat-toolbar>

<div id="app">
  <router-outlet></router-outlet>
</div>
