<!-- VOIR POUR AVOIR LE CHOIX ENTRE UPLOAD FICHIER OU TULISER CAMERA DU DEVICE 
https://github.com/doorKOnline/ng-video-example/blob/master/src/app/example/example.component.ts
-->
<form #form class="fullwidth">
	<input type="file" name="file" id="file" class="inputfile" (change)="selectFile($event)"/>
	<label for="file">Choose a file</label>
	<div id="filename">{{fileChosen}}</div>
</form> 

<div class="fullwidth">
	<button mat-raised-button color="warn" class="btn btn-success" [disabled]="!selectedFiles"
		(click)="upload()">Upload</button>
</div>

<div [hidden]="!onAnalyzed">
	<mat-progress-bar mode="determinate" value="{{progress.percentage}}"></mat-progress-bar>
	<div class="progressbar-text">{{progress.percentage}}%</div>
</div>

<div [hidden]="!isAnalyzed">
	<mat-card class="card-bee">
		<mat-card-header>
			<mat-card-title>{{fileAnalyzedName}}</mat-card-title>
			<mat-card-subtitle>{{fileAnalyzedDate}}</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="{{fileAnalyzedUrl}}" alt="Analyzed picture">
		<mat-card-content>
			<div class="fullwidth">
				<mat-icon [ngStyle]="{backgroundColor: getColor()}" class="result-icon">{{getIcon()}}</mat-icon>			
			</div>

			<div *ngFor="let item of items">
				<div class="analyzeItem">
					<div class="analyzeLabel">{{item.description}}</div>
					<mat-progress-bar class="analyzeProgressbar" mode="determinate" [value]="convertScore(item.score)"></mat-progress-bar>
					{{item.score}}
				</div>
			</div>					
			
		</mat-card-content>
	</mat-card>		
</div>