@import 'assets/scss/custom_theme';
@import 'assets/scss/palette';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/*
 * COMMON
 */

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #795726;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: none;
}

h1 {
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat {

    &-form-field {
        width: 400px
    }
}


app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

app {
    &-declaration, &-home, &-history, &-nest, &-profile, &-signin {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}


.app-content {
    flex-grow: 1;
    margin: 40px 0 0;
}

/*
 * NAVIGATION
 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    min-height: 40px; 

    a {
        font-size: 1.1rem;
    }
}

.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #ffc107;
}
.angular-logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

[hidden] {
    display: none !important;
}


.app-primary-header {
    padding-left: 20px;
    background: #FFCA28;
    color: rgba(255, 255, 255, 0.87);
}


.flex-spacer {
    flex-grow: 1
}

/*
 * HOMEPAGE
 */

 
.grid-tile {
    display: block;
    flex: 2;
}

.grid-content {
    display: inherit;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    justify-content: center;
    align-items: center;

    p {
        letter-spacing: .1rem;
    }
}

.container {
    display: block;
    padding: 20px;
}

 .app-home-logo {
     background: #ffc107;
     vertical-align: middle;
 }


/*
 * FOOTER
 */ 
.app-footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
    background: #795726;
    color: #FFF;

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        padding: 8px;
        text-align: center;
    }
}



/*
.example-right-align 
    text-align: right;

[id="drop"]
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 10px 0 20px;
    padding: 10px;
    border: 4px dotted #d3d3d3;

*/

@media only screen and (min-width: 640px) {
    .container {
        display: flex;
    }
    .grid-tile {
        display: flex;
        flex-direction: column;
    }
}