@import 'assets/scss/custom_theme';
@import 'assets/scss/palette';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/*
 * COMMON
 */

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #795726;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: none;
}

button {
    margin: 10px 0 !important;
}

.active {
    color: #FFF !important;
    background: #795726;
}

h1, h2, h3 {
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mat {

    &-form-field, &-form-container {
        width: 400px;

        @media screen and (max-width: 730px) {
            width: auto;
        }
    }
}


app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

[id="app-root"] {
    height:100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;

    img {
        background: #795726;
    }

    span {
        margin: 0 0 0 20px;
        font-size: 2rem;
    }

    @media screen and (max-width: 730px) {
        flex-direction: column;
    }
}


app {
    &-declaration, &-home, &-history, &-nest, &-profile, &-signin, &-signup {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &-declaration, &-nest {
        form {
            align-items: flex-start;
        }
    }

    &-nest {
        .mat-form-field {
            display: block;
        }
    }
}


.app-content {
    flex-grow: 1;
    margin: 40px 20px 0;
}

/*
 * NAVIGATION
 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    min-height: 40px; 

    &.navbar-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        background: #ffc107;
        z-index: 1;

        @media screen and (max-width: 730px) {
            justify-content: center;
        }
    }

    a {
        font-size: 1.1rem;
    }

    /*p {
        display: inline-block;
        margin: 0;

        @media screen and (max-width: 730px) {
            text-indent:  -9999px;
        }
    }*/
    .flex-spacer {
        flex-grow: 1;

        @media screen and (max-width: 730px) {
            flex-grow: 0;
        }
    }
}


.angular-logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

[hidden] {
    display: none !important;
}


.app-primary-header {
    padding-left: 20px;
    background: #FFCA28;
    color: rgba(255, 255, 255, 0.87);
}

/*
 * HOMEPAGE
 */
.grid-tile {
    display: block;
    flex: 2;
}

.grid-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    justify-content: center;
    align-items: center;
    min-height: 250px;

    p {
        letter-spacing: .1rem;
    }
}

.container {
    display: block;
    padding: 20px;
    /*min-height: 250px;*/
}

 .app-home-logo {
     background: #ffc107;
     vertical-align: middle;
 }

 /*
  * DECLARATION / NEST
  */
app-nest {
    label {
        cursor: pointer;
    }

    mat-card {
        margin: 20px 0 0;
    }
}
.mat-stepper-horizontal, .mat-stepper-vertical {
      width: 100%;
}

.dropzone {
    display: table;
    height: 100%;
    width: 100%;
    border: 4px dotted #d3d3d3;

    .text-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 0;
    }
    .centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

agm-map {
    height: 400px;
    width: 100%;

  }

dialog-confirme {

    .mat-dialog-actions {
        justify-content: center;
    }

    button {
        margin: 0 !important;
    }

}

.analyzeLabel {
    font-size: 1rem;
}

mat-progress-bar {
      margin: 8px 0 ;
}

.mat-green {
    background: #4CAF50;
    color: #FFF;
    border-radius: 50%;
    padding: 6px;
}

.mat-red {
    background: #F44336;
    color: #FFF;
    border-radius: 50%;
    padding: 6px;
}
/*
 * FOOTER
 */ 
.app-footer {
    padding: 12px;
    font-size: 12px;
    background: #795726;
    color: #FFF;

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        padding: 8px;
        text-align: center;
    }
}


@media only screen and (min-width: 640px) {
    .container {
        display: flex;
    }
    .grid-tile {
        display: flex;
        flex-direction: column;
    }
}