<div class="dropzone" appFileSelector (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFileInvalids($event)"
  [allowed_extensions]="['png', 'jpg', 'bmp']">
  <div class="text-wrapper">
    <div class="centered">
      <mat-icon>insert_photo</mat-icon>
      <p>Drag image file here or </p>
      <input type="file" value="" id="upload" hidden>
      <label for="upload">Browse from your device</label>
    </div>
  </div>
</div>

<div class="spinner_analyse" [hidden]="!onAnalyzed">
  <mat-spinner></mat-spinner>
</div>

<mat-card [hidden]="!isAnalyzed">
  <mat-card-header>
    <div mat-card-avatar>
      <span *ngIf="fileAnalyzedpercent >= 0.75">
        <mat-icon class="mat-green">check</mat-icon>
      </span>
      <span *ngIf="fileAnalyzedpercent < 0.75">
        <mat-icon class="mat-red">clear</mat-icon>
      </span>
    </div>
    <mat-card-title>{{image_name}}</mat-card-title>
    <mat-card-subtitle>{{image_date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{image_preview}}" alt="Analyzed picture">
  <mat-card-content>
    <div *ngFor="let item of items">
      <div class="analyzeLabel">{{item.description}} : {{convertScore(item.score)}} % </div>
      <mat-progress-bar class="analyzeProgressbar" mode="determinate" [value]="convertScore(item.score)"></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card>