<div class="dropzone" appFileSelector (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFileInvalids($event)"
  [allowed_extensions]="['png', 'jpg', 'bmp']">
  <div class="text-wrapper">
    <div class="centered">
      <mat-icon>insert_photo</mat-icon>
      <h2>Drop your file here !</h2>
      <h3>or</h3>
      <input type="file" value="" id="upload">
      <label for="upload">Choose a file</label>
    </div>
  </div>
</div>

<div class="dropzone-list">
  <ul class="valid">
    <li *ngFor="let file of fileList">
      {{ file.name }}
    </li>
  </ul>
  <ul class="invalid">
    <li *ngFor="let file of invalidFiles">
      {{ file.name }}
    </li>
  </ul>
</div>
