<div class="app-content container">
  <div class="grid-tile">
    <div class="grid-content">
      <img class="" src="../../assets/img/homepage/other_bee.jpg" alt="save bee">
    </div>
  </div>
  <div class="grid-tile">
    <div class="grid-content">
      <h1>Why declare ?</h1>
      <p>The Asian hornets has already begun to invade French territory and its impact on bee populations and hives are devastating.
        "Bees and other pollinating insects play an important role in plant survival through ollination work, particularly
        for more than 20,000 plant species in Europe, of which 40% are fruits, vegetables or oilseeds." (Cf. Wikipedia).
        For the moment, no European action is triggered. This application is a way to fight this plague by declaring as much
        as possible Asian hornets nests. Anyone can use this application, especially during walks in the forest or anywhere,
        do not hesitate! The bees are counting on you!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid-tile">
    <div class="grid-content">
      <h1>How declare a nest ?</h1>
      <p>Register to make a statement. This will help manage your returns and contact you for more information if needed. We
        use an image recognition service provided by Google to help you differentiate between bees and Asian hornets. Your
        statements will be available to everyone. The goal is to have a large nest site base.</p>
    </div>
  </div>
  <div class="grid-tile">
    <div class="grid-content">
      <img class="" src="../../assets/img/homepage/nest.jpg" alt="nest">
    </div>
  </div>
</div>
<div class="container">
  <div class="grid-tile">
    <div class="grid-content">
        <a aria-label="Angular Bee" class="mat-button" routerLink="/">
            <img alt="angular" class="app-home-logo" src="../../assets/img/homepage/angular-white-transparent.svg">
            <span>Bee</span>
        </a>
    </div>
  </div>
  <div class="grid-tile">
    <div class="grid-content">
      <h1>How its work ?</h1>
      <p>This project is not currently funded. It was developed by 2 young developers wanting to put their skills to a good
        cause. The ideal would be to associate this application with a company to take care of the destruction of the nests
        that have been declared on the site.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>