<div class="container">
<mat-card class="card">
  <img mat-card-image src="http://www.planetepassion.eu/wildlife-in-france/Asian%20Hornet%20getting%20nectar%2020th%20AUG%202013.jpg" alt="Photo of a Asian Hornet">
  <mat-card-content>
    <p>
        First observed in 2005 the Asian Hornet is thought to have arrived in France from China in 2004, 
        in a container of pottery passing through the port  of Bordeaux. Since that date its spread 
        throughout the neighboring regions has been rapid and often, in the initial stages, follows rivers 
        and other watercourses. In fact it will never be found far from a source of water even if that is 
        only a small pond. As of 2011 there are reports of them being observed in Belgium and they are to be 
        found in strong pockets in the north of France, the expansion is relentless although the poor weather in 
        the first 6 months of 2013 seems to have caused them some problems.
    </p>
  </mat-card-content>
  <mat-card-actions>
      <a href="http://www.wildlifeinfrance.com/asian-hornet-vespa-velutina-nigrithorax-frelon-asiatique-in-france.html" target = "_blank"><button mat-button>MORE</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
    <img mat-card-image src="https://www.thelocal.fr/userdata/images/article/e7566e29047c4889e76b88130c75b138b57cbd8eadabdfcc96a9dfd63b9e4c10.jpg" alt="Photo of a Asian Hornet">
    <mat-card-content>
      <p>
          After slipping into southwest France 10 years ago in a pottery shipment from China Asian hornets have since invaded more than half the country. Now France is fighting back, using drones, poisoned rods and even chickens. 
          The Asian hornet, or vespa velutina nigrithorax, is considered a "public enemy" in parts of France where it devours native bees and, experts say, threatens biodiversity.          
          "It's exploding (in numbers) and causing trouble," said Eric Darrouzet, a biologist at the Research Institute for the Biology of Insects (IRBI) at the University of Tours.         
          But some kind of solution may be in sight.         
          Pest controller Etienne Roumailhac is exhausted, called to destroy at least six nests a day in the Landes region on the Atlantic coast. Each nest can house thousands of hornets.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://www.thelocal.fr/20140820/france-drones-and-chickens-to-fight-asian-hornets" target = "_blank"><button mat-button>MORE</button></a>
    </mat-card-actions>
  </mat-card>
</div>